* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "head head"
    "menu menu"
    "text-asid balao-button"
    "main main"
    "foot foot";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
}

#head {
    grid-area: head;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../img/plano_header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#head img {
    width: 120px;;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#head h1 {
    margin: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#menu {
    grid-area: menu;
}

#menu ul {
    display: flex;
    justify-content: space-around;
}

#menu ul li {
    list-style: none;
    flex: 1;
    background-color: black;
    border-right: 2px solid white;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 40px;
    color: white;
    padding: 10px;
    display: block;
}

#text-asid {
    grid-area: text-asid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    margin: 10px;
    border-radius: 10px;
}

#text-asid h2 {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#text-asid #marketing {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text-asid .text {
    margin: 10px 0;
    text-align: justify;
    padding: 15px;
    font-size: 18px;
    text-indent: 1.5em;
}

#text-asid img {
    width: 250px;
    height: auto;
}

#balao-button {
    grid-area: balao-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/plano_balao-button2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 10px;
}

#balao-button img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

#balao-button div#principal {
    width: 300px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#balao-button form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#balao-button div h3 {
    margin-top: 20px;
    font-size: 25px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 15px;
}

#balao-button div p {
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

input.caixa, #form input{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    padding-left: 10px;
}

#balao-button label {
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 5px;
}

div.marcar {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

#balao-button input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#balao-button input#segundo-checkbox {
    margin: 0 0 0 5px;
}

#balao-button div button {
    width: 150px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

#balao-button div #cadastrar {
    background-color: orange;
    border: 1px solid orange;
}


#main {
    grid-area: main;
    background-image: url("../img/plano_main.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main form, table {
    width: 100%;
    margin: 20px 0;
}

#main form {
    max-width: 500px;
    height: auto;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#main #form {
    display: flex;
    justify-content: space-around;
}

#main form h3 {
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main form button {
    align-self: center;
    width: 150px;
    height: 35px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#main div#title {
    display: block;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}

#main div#title h2 {
    margin: 0 20px;
    font-size: 30px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main table {
    max-width: 600px;
    height: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table thead th, table tfoot td[colspan="3"] {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

table tr {
    height: auto;
}

table td.text-table {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
}

table td.td-padding {
    padding: 5px;
}

table td.status-confirmado {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: white;
}

table td.status-nao {
    background-color: red;
    border: 1px solid red;
    color: white;
}

table input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

table span {
    display: inline-block;
    cursor: pointer;
}

table {
    text-align: center;
}

#foot {
    grid-area: foot;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#foot img {
    width: 50px;
}

#foot p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0 0 10px;
}

@media screen and (max-width: 625px) {
    body {
        grid-template-areas: 
        "head"
        "menu"
        "text-asid"
        "balao-button"
        "main"
        "foot";
        grid-template-columns: 1fr;
    }
    
    #head {
        grid-area: head;
    }

    #menu {
        grid-area: menu;
    }

    #menu ul {
        flex-direction: column;
    }

    #menu ul li {
        border-top: 2px solid white;
        border-right: none;
    }

    #menu ul li:first-child {
        border-top: none;
    }

    #text-asid {
        grid-area: text-asid;
    }

    #balao-button {
        grid-area: balao-button;
    }

    #main {
        grid-area: main;
    }

    #foot {
        grid-area: foot;
    }
}